* {
    font-family: inconsolata;
    text-align: center;
}
body {
    background-color: #e5e3d7;
}
h1 {
    font-family: oswald;
    font-size: 28px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    letter-spacing: 1px;
}
p {
  font-family: inconsolta:
  font-size: 12px;
}
.header {
    margin-top: 100px;
}
.header img {
    width:100px;
    border-radius: 100px;
    border: 5px solid #ffffff;
}
