* {
    font-family: inconsolata;
    text-align: center;
}
h1 {
    font-family: brandon grotesque;
    font-size: 36px;
    font-weight: 300;
    color: #333333;
}
p {
  font-family: inconsolta:
  font-size: 12px;
}
