* {
    font-family: inconsolata;
    text-align: center;
}
h1 {
    font-family: oswald;
    font-size: 36px;
    font-weight: 300;
    color: #333333;
    text-transform: uppercase;
    letter-spacing: 1px;
}
p {
  font-family: inconsolta:
  font-size: 12px;
}
.header img {
    width:100px;
    border-radius: 100px;
}
