
* {
  font-family: inconsolata;
  text-align: center;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e5e3de;
  margin: 0;
  cursor: crosshair;
}

p {
  font-family: inconsolata;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 1.8em;
}

a {
  color: #333333;
  cursor: nw-resize;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
}

a:hover {
  color: #888888 !important;
  cursor: nw-resize;
}

h1 {
  font-family: inter;
  font-weight: 800;
  font-style: normal;
  font-size: 62px;
  color: #444444;
  text-transform: ;
  letter-spacing: -3px;
  line-height: 1.2em;
}

h2, h2 a  {
  font-family: inter;
  font-size: 28px;
  font-weight: 700;
  text-transform: none;
  letter-spacing: -1px;
  line-height: 1.6em;
}

h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
}

.content {
  padding: 50px;
}

.header_nav {
  background-color: #f4f3ef;
  padding: 0;
  width: 700px;
  margin: auto;
  border: 1px solid #333333;
  border-bottom: none;
  display: flex;
}

.header_title {
  margin: auto;
  width: 499px;
  text-align: left;
  padding-left: 15px;
}

.header_link {
  border-left: 1px solid #333333;
  padding: 6px;
  margin: 0;
  width: 99px;
}

.bio {
  background-color: #f4f3ef;
  padding: 30px 50px;
  width: 600px;
  margin: auto;
  border: 1px solid #333333;
}

img {
    width:150px;
    border-radius: 80px;
    border: 0px solid #ffffff;
}

.projects {
  background-color: #f4f3ef;
  padding: 0;
  width: 700px;
  margin: auto;
  border: 1px solid #333333;
  border-top: none;
  border-bottom: none;
  text-align: center;
}

.linkies {
  padding: 25px 0;
  border-bottom: 1px solid #333333;
  /*width: 600px;
  margin: 40px auto auto auto;
  box-shadow: 0px 0px #444444;
  border-bottom: 5px solid #cecbc8; */

}

.linkies a, .linkies a:visited {
  text-decoration: none;
  color:#444444;
}

button {
  background-color:#333333;
  border: none;
  margin: 10px 0;
  padding: 12px 18px;
  transition: 0.3s;
  color: #ffffff;
}

button:hover {
  background-color: #666666;
  color: white;
}

.footer_section {
  background-color: #f4f3ef;
  padding: 0;
  width: 700px;
  margin: auto;
  border: 1px solid #333333;
  border-top: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  display: flex;
}

.footer_item {
  margin: auto;
  width: 33%;
  padding: 8px;
  border-right: 1px solid #333333;
}

.footer_end {
  margin: auto;
  width: 33%;
  padding: 8px;
  padding-right: 15px;
}

footer {
  background-color: #333333;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin: 0;
  top: 50px;
  flex-shrink: 0;
}

footer p {
  font-family: inconsolata;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 2em;
}

smol {
  font-size: ;
  opacity: 0.4;
  line-height: 1.2em;
}

::-moz-selection { /* Code for Firefox */
  color: #FFFFFF;
  background: #A99C90;
}

::selection {
  color: #FFFFFF;
  background: #A99C90;
}


/* this is to make the footer "sticky" to the bottom of the page */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}
